
manifest {
    name            = 'Acegen-ML-Pipeline'
    author          = 'Antigravity'
    description     = 'Nextflow pipeline for Target-conditioned de-novo drug design'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.10.0'
}


params {
    dataset      = "${projectDir}/data/D2_receptor_P14416WT_Papyrus_High.csv"
    configs_dir  = "${projectDir}/configs"
    scripts_dir  = "${projectDir}/scripts"
    results_dir  = "${projectDir}/results"
}


conda.enabled = true


process {
    conda = '/home/mohamed/miniconda3/envs/acegen' //This should be changed to refer to  your own conda environemtn where acegen is installed
    

    errorStrategy = 'terminate'
}
